/* .gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.bg-image {
  background-image: url('../images/background-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  color: #212529;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.title-text {
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  color:#ffffff;
}

.profile-img{
  height: 200px;
  border-radius: 50%;
}

.projects-img{
  width: 90%;
  border-radius: 1%;
}

.latin{
  font-style: italic;
}


li.mb-1{
  color:white;
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width: 680px) {
  .carousel-caption {
    top: 0;
  }
  .carousel-caption h1 {
    font-size: 1.5rem;
  }
  .carousel-caption .btn {
    padding: .3rem 1rem;
    font-size: 1rem;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-item {
    height: 330px;
  }
}


/*max-width:680px*/

@media screen and (max-width: 420px) {
  .carousel-item {
    height: 220px;
  }
} 
